
@model IEnumerable<ConfirmationProject.Models.Survey>

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Index";

}


<h1>Anketler</h1>

<p>
    <div class="row">
        <div class="col-3">
            <a asp-action="Create">Yeni bir anket oluştur</a>
        </div>
        <div class="col-8"></div>
        <div class="col-1">

            <a asp-action="DownloadExcelDocument" data-toggle="tooltip" data-placement="left" title="Rapor İndir">
                <img src="~/excel.png" />
            </a>

        </div>
    </div>


</p>
<form asp-controller="Surveys" asp-action="Index" method="get">
    <p>
        Başlık: <input type="text" name="SearchString" />
        <button class="btn" type="submit">

            <img src="~/search.png" />
        </button>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Başlık", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>

            <th>
                @Html.DisplayNameFor(model => model.numberOfConfirmation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberOfYes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberOfNo)
            </th>
            <th>
                @Html.ActionLink("Son Tarih", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.numberOfConfirmation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numberOfYes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numberOfNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete" data-id="@item.Id">
                        <img src="~/trash (1).png" />

                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script>

        $(document).ready(function () {
            $('.delete').on('click', function (event) {
                event.preventDefault();
                var id = $(this).data('id');
                $.ajax({
                    url: '/Surveys/Delete/' + id,
                    type: 'GET',
                    success: function (data) {
                        alertify.confirm(data + ' anketini silmek istediğinize emin misiniz?', function () {
                            deleteSurvey(id);
                        });
                    },
                    error: function (err) {
                        console.log(err.statusText);
                    }
                })
            });
            function deleteSurvey(id) {
                $.ajax({
                    url: '/Surveys/Delete/' + id,
                    type: 'POST',

                    success: function (data) {
                        if (data === 'OK') {
                            location = location;
                            alertify.success('Anket silindi :)')
                        }

                    },
                    error: function (err) {
                        console.log(err.statusText);
                    }
                })
            }
        })
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

}



