@model Survey
@{
    int UserId = Convert.ToInt32(User.Identity.Name);
    double oran = Math.Round((((double)Model.numberOfYes / (double)Model.numberOfConfirmation) * 100), 2);
    var responcses = Model.Responses.FirstOrDefault(x => x.UserId == UserId);



}
<div class="card w-100">
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <h3 class="card-title">
                    @Model.Title
                    @if (DateTime.Now > Model.Deadline)
                    {

                        @if (Model.numberOfConfirmation == Model.numberOfYes)
                        {
                            <img src="~/checked.png" />

                        }
                        else
                        {
                            <img src="~/close.png" />
                        }
                    }
                </h3>
            </div>
            <div class="col-2"></div>
            <div class="col-4">

                <h6 class="card-title">
                    Son tarih: @Model.Deadline
                    @if ((DateTime.Now > Model.Deadline)||(Model.numberOfConfirmation== Model.numberOfYes))
                    {
                        <p style="color:red">(Anket Kapandı!)</p>
                    }
                    else
                    {
                        <p style="color:greenyellow">(Anket Devam Ediyor...)</p>
                    }
                </h6>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <p class="card-text">@Model.Detail</p>
                @if (responcses != null)
                {
                    @if (responcses.Answer == "yes")
                    {
                        <p>Cevabınız: Evet </p>
                    }
                    else if ((responcses.Answer == "no"))
                    {
                        <p>Cevabınız: Hayır</p>
                    }

                }
                else
                {
                    <p>Cevaplamadınız...</p>
                }

            </div>
            <div class="col-2"></div>
            <div class="col-4">

                <p class="card-text">Gereken toplam onay sayısı: @Model.numberOfConfirmation </p>
                <p class="card-text">Kabul için kalan onay sayısı: @(Model.numberOfConfirmation-Model.numberOfYes)</p>

                <p class="card-text"style="padding:5px">
                    <img src="~/checked (1).png" /> @Model.numberOfYes   |
                    <img src="~/x-button.png" />   @Model.numberOfNo
                </p>
            </div>
        </div>

        
        <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: @oran%; " aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">@oran %</div>
        </div>



    </div>
</div>


