
@{ 
    int id = (Convert.ToInt32(User.Identity.Name));

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ConfirmationProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/alertify/css/themes/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/alertify/css/alertify.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">Anasayfa</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <ul class="nav navbar-nav  ">
                        @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin")))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Surveys" asp-action="Index">


                                    <img src="~/online-test.png" /> Anket İşlemleri
                                </a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <button class="btn  dropdown-toggle" type="button" data-toggle="dropdown">



                                    <img src="~/user (2).png" />  Profilim
                                </button>

                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    
                                    @{ 
                                        var Name = (from c in User.Claims
                                                        where c.Type == "FirstName"
                                                        select c.Value).FirstOrDefault();
                                        var LastName = (from c in User.Claims
                                                        where c.Type == "LastName"
                                                        select c.Value).FirstOrDefault();
                                    }
                                    <li class="dropdown-item-text"  style="color:coral; font-weight:bold " >   @Name @LastName</li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-action="Edit" asp-controller="Users" asp-route-id="@id">Kullanıcı Bilgilerim</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="LogOut">Çıkış Yap</a></li>
                                </ul>


                            </li>
                        }
                    </ul>
                    <ul class="nav navbar-nav mx-auto">

                        <li class="nav-item">
                            <form method="post" asp-action="Search" asp-controller="Home" class="d-flex">
                                <input class="form-control me-2" name="searchItem" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn " type="submit">
                                    <img src="~/search.png" />
                                </button>
                            </form>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>


        <div class="row" style="padding-top:10px">
            <div class="col-3"></div>
            <div class="col-8">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index"> Açık Anketlerim  </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" asp-area="" asp-controller="Home" asp-action="AnsweredSurvey">Cevapladığım Anketlerim </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="ApprovedSurvey"> Onaylanan Anketler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="TimeOutSurvey"> Süresi Geçen Anketler</a>
                    </li>
                </ul>
            </div>
            <div class="col-1"></div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ConfirmationProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/alertify/alertify.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
